<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/img/chatgpt.png" sizes="32x32" />
  <link rel="icon" href="/img/chatgpt.png" sizes="192x192" />
  <link rel="apple-touch-icon" href="/img/chatgpt.png" />
  <meta name="msapplication-TileImage" content="/img/chatgpt.png" />
  <title>ChatGPT</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <link rel="stylesheet" href="/css/chatgpt.css">
</head>
<body>
  <div class="row">
    <div class="col-sm-12" >
      <div class="container m-4 p-0 mx-auto" style="border: 1px solid #D3D3D3;border-radius:5px;">
        <div class="header-note">
           <img src="/img/chatgpt.png" style="width:45px;height:45px;">
          <span class="ps-1">ChatGPT: verifying content</span>
          <img th:src="@{${session.user.getProfileImagePath()}}" class="profile-image"/>
        </div>
        <div class="loading animated fadeIn">
          <div class="bg"></div>
        </div>
        <h5 class="mt-4 ms-4 me-4 mb-2" th:text="${title}"></h5>
        <hr>
        <div class="m-4" th:text="${content}"></div>
      </div>
    </div>
  </div>
</body>
</html>